doctype html
html
  head
    title= title
    <link href="https://fonts.googleapis.com/css?family=Ruslan+Display|Slabo+27px" rel="stylesheet">
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/myframe.css')
  body
    block content
