$tbl = #dda
$gray = #ddd
$light-green = #4caf50
$light-yellow = #fad733
$maroon = #B71C1C
$sunkist = #FF3D00
$succes = #00E676
$info = #01579B
$tbl-yellow = #ffeb3b
$tbl-blue = #00e2f0
$black-dark = #000
$black-light = rgba(0, 0, 0, .65)
