@import "scaffold";
@import "bourbon";
@import "neat";

body {
  background-color: #fff;

}
h1 {
  font-family: $helvetica;
}


section {
  @include linear-gradient(to top, red, orange);
}

a:hover {
  // Animation shorthand works the same as the CSS3 animation shorthand
  @include animation-iteration-count(infinite);

}
button{
}

.box {
  @include border-style(dashed null solid);
}

.section-test {
  @include outer-container;
  header { @include span-columns(3); }
  section { @include span-columns(9); }
}
